<h1>Welcome to Your Dashboard</h1>

<%= form_tag user2s_logout_path, method: :delete do %>
  <%= button_tag "Logout", type: :submit, data: { confirm: "Are you sure you want to log out?" } %>
<% end %>
